* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 100%;
  background-image: url(images/background.jpeg);
  height: 500px;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  margin-right: 20%;
  padding-top: 20px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
  /* padding-left: 20%; */
  padding-top: 30px;
}

.logo {
  font-style: italic;
}

.introduction {
  color: white;
  text-align: center;
  padding-top: 150px;
  position: absolute;
  font-size: 30px;
  margin-right: 60%;
  margin-bottom: 100px;
}

.about {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.about-me {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.about-me h2 {
  margin-bottom: 30px;
  font-size: 40px;
}

.about-me p {
  font-size: 20px;
}

.about img {
  border-radius: 0px;
  height: 400px;
  border-radius: 30px;
  margin-top: 50px;
}
